/yolo_project/260121_yolov11n/scratch/*
/yolo_project/Sub2/cnn,resnet(cuda)/data/*
/yolo_project/Sub2/cv2(cuda)/mouse/*
/yolo_project/Sub2/cv2(cuda)/cup/*
/yolo_project/Sub2/yolov8_model/custom/yolov8/*
